body{
    background-color: darkgrey;
}

.form-group {
}

.form-group .label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
    padding-top: 10px;
    padding-block: 5px;
    margin-top: 10px;
}

.form-group a {
    color: gray;
}

.card .mx-auto{
    width: 25%
}

.button_login{
    background-color: #08ea0f;
    border: none;
    color: white;
    padding: 8px 193px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    margin: 23px 2px 5px;
}

.register{
    background-color: #08ea0f;
    border: none;
    color: white;
    padding: 8px 193px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    margin: 23px 2px 5px;
}



